.statusContainer{
    font-size: 18px;
    color: #8a8a8a;

    padding-top: 10px;
    margin-bottom: 30px;

    border-top: 1px solid #c0c0c0;
}

.statusContainer input{
    font-family: inherit;
    font-size: 22px;
    font-weight:inherit;
    line-height: inherit;
    color:#686868;

    width:100%;

    padding:0px 5px;

    border: 1px solid #c0c0c0;
    border-radius: 5px;
}