.showMoreButtonWrapper {
  text-align: center;

  padding: 20px 0 40px;
}

.showMoreButton {
  font-size: 20px;

  padding: 10px 15px;

  cursor: pointer;
}

.paginatorWrapper button {
  padding: 8px 12px;
  margin: 0 10px;

  font: inherit;
  color:#fff;
  background:#4473ff;

  border-radius: 10px;
  border: none;

  cursor: pointer;
}

.paginatorWrapper button:focus{
  outline: none;
}