.showMoreButtonWrapper {
  text-align: center;

  padding: 20px 0 40px;
}

.showMoreButton {
  font-size: 20px;

  padding: 10px 15px;

  cursor: pointer;
}

.pageButton {
  padding: 0 5px;
  cursor: pointer;
}

.pageButton.selected {
    font-weight: bold;
}