.header {
  grid-area: h;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  padding: 5px 10px;
  background: #4473ff;
}
.header h1 {
  text-align: center;
}
.header a {
  display: inline-block;
  width: 40px;
}
