.app-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "h h"
    "n c";
  grid-gap: 10px;
  color: #fff;
}
a img, img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header {
  grid-area: h;
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  padding: 5px 0;
  background: #4473ff;
}
.header h1{
    text-align: center;
}
.header a{
  display: inline-block;
  width: 40px;
  height: 45px;
}

.nav {
  grid-area: n;
  background: #4473ff;
}
.nav a{
  color: inherit;
  text-decoration:none;
}

.content {
  grid-area: c;
  color:#3f3f3f;
}
