.dialogsWrapper{
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-template-areas: " t t"
    "d m";
}
.dialogsTitle{
    grid-area: t;
    font-weight: 700;
}
.dialogsItems{
    grid-area: d;
}

.messageContainer{
    grid-area: m;
}
